//
// Base
//

@require "base"

//
// Modules
//

body
  background: #ffdfb3

.{meta.slug}
  // write page style here

  user-select: none

  .view-canvas
    display: block
    margin: 0 auto

  .page
    width: 512px
    margin: 0 auto

  .page-title
    font-size: 48px
    margin: 16px auto
    letter-spacing: .2em
    small
     font-size: 32px
     line-height: 48px

  .uis
    margin: 32px auto
    text-align: center

  .ui
    display: inline-block
    margin: 0 32px
    vertical-align: top
    text-align: left

  .ui-title
    margin: 8px 0
